#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.react-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2d2d2d; /* Darker background color for the table */
  color: #ffffff; /* Light text color for table content */
}

.react-table th, .react-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #444444; /* Darker border color */
}

.react-table th {
  background-color: #333333; /* Dark background color for headers */
}

.react-table tbody tr:nth-child(even) {
  background-color: #404040; /* Darker background color for alternate rows */
}

.react-table tbody tr:hover {
  background-color: #555555; /* Darker background color on hover */
}